
<h1>Bienvenidos a la tercera habitacion de nuestro juego de escape</h1>
<h5>En esta habitacion tendran que adivinar el jugador por su trayetoria futbolistica (nombre completo)</h5>
<img src="/imagenes/Sala4.png" >
<button onclick="alert('Pista 1: Es un gran jugador argentino de la decada del 50-60')"> Pista 1 </button>.
<button onclick="alert('Fue uno de los integrantes de la maquina de River')"> Pista 2 </button>.
<form action='@Url.Action("Habitacion","Home")'>
<input type="text" name="Clave" required>
<input type="hidden" name= "Sala" value="4">
<p><input type="submit" value="Value" determined= "none"></p>
<br>
</form>