<h1>Bienvenidos a la segunda habitacion de nuestro juego de escape</h1>
<h5>En esta habitacion tendran que adivinar el jugador por su trayetoria en la NBA</h5>
<img src="/imagenes/Sala2.png" >
<button onclick="alert('Pista 1: Este jugador nunca se perdio unos play-off')"> Pista 1 </button>.
<button onclick="alert('Pista 2: Este jugador no posee anillos')"> Pista 2 </button>.
<form action='@Url.Action("Habitacion","Home")'>
<input type="text" name="Clave" required>
<input type="hidden" name= "Sala" value="2">
<p><input type="submit" value="Value"determined= "none"></p>
<br>
</form>