@{
    ViewData["Title"] = "Index";
}

<h1>TP XX - Index</h1>
<h1>"Escape del vestuario"</h1>
<img src="/imagenes/0-1.jfif" alt="">
<p>Solo un real amante del deporte logra escapar de esta sala, vamos a ver si lo eres.</p>
<button><a href='@Url.Action("Comenzar","Home")'>comenzar</a> </button>
<button><a href='@Url.Action("Creditos")'>creditos</a></button>
<button><a href='@Url.Action("Tutorial")'>turorial</a></button>
