<h1>Tutorial</h1>
<p><h4>En todas las habitaciones tendras que indicar la respuesta en cada sala en base al deporte del que hable. Siempre vas a tener el acertijo inicial y dos pistas para que se te hagan mas faciles las salas </h4></p>